<fieldset formGroupName="address">
  <legend>Address</legend>
  <div class="mb-3">
    <label for="state" class="form-label">State</label>
    <input class="form-control" id="state" formControlName="state" />
  </div>
  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input class="form-control" id="country" formControlName="country" />
  </div>
  <div class="mb-3">
    <label for="pin" class="form-label">Zip</label>
    <input type="number" class="form-control" id="pin" formControlName="pin" />
  </div>
</fieldset>
