@import '../../../../../../scss/variables';

ul {
  display: flex;
  padding: 5px;
  justify-content: center;

  li {
    display: inline-block;
    list-style: none;
    margin: 3px;

    button {
      border: none;
      @include box-shadow();

      &.current-page {
        background-color: $blue;
        color: white;
        transition: all 0.3s;
      }
    }
  }
}
