<div class="container">
  <div class="text-center mb-4">
    <button
      class="btn btn-warning me-2"
      (click)="setZone(true)"
      [class.active]="inZone"
    >
      Show regular
    </button>
    <button
      class="btn btn-primary me-2"
      (click)="setZone(false)"
      [class.active]="!inZone"
    >
      Show optimized
    </button>
    <button class="btn btn-info" (click)="hello()">Say Hello</button>
  </div>

  <div class="text-center">
    <ng-container *ngIf="inZone">
      <app-canvas></app-canvas>
    </ng-container>
    <ng-container *ngIf="!inZone">
      <app-canvas-optimized></app-canvas-optimized>
    </ng-container>
  </div>
</div>
