<header class="m-2 d-flex justify-content-center">
  <a
    routerLink="timers"
    routerLinkActive="active"
    class="btn btn-outline-success me-2"
    >Timers</a
  >
  <a
    routerLink="outside-clicks"
    routerLinkActive="active"
    class="btn btn-outline-success me-2"
    >Outside Clicks</a
  >
  <a
    routerLink="jquery-plugin"
    routerLinkActive="active"
    class="btn btn-outline-success me-2"
    >Jquery Plugin</a
  >
  <a
    routerLink="default-onpush"
    routerLinkActive="active"
    class="btn btn-outline-warning me-2"
    >Default OnPush</a
  >
  <a
    routerLink="onpush"
    routerLinkActive="active"
    class="btn btn-outline-warning me-2"
    >OnPush</a
  >
  <a
    routerLink="onpush-async"
    routerLinkActive="active"
    class="btn btn-outline-warning me-2"
    >OnPush Async</a
  >
  <a
    routerLink="rx-angular-push"
    routerLinkActive="active"
    class="btn btn-outline-warning me-2"
    >Rx Angular Push</a
  >
</header>

<router-outlet></router-outlet>
