<header class="m-2 d-flex justify-content-center">
  <a
    routerLink="in-memory"
    routerLinkActive="active"
    class="btn btn-outline-success mr-2"
    >In Memory Countries/States</a
  >
  <a
    routerLink="without-caching"
    routerLinkActive="active"
    class="btn btn-outline-warning mr-2"
    >Without Caching</a
  >
  <a
    routerLink="with-caching"
    routerLinkActive="active"
    class="btn btn-outline-primary mr-2"
    >With Caching</a
  >
  <a
    routerLink="simple-caching"
    routerLinkActive="active"
    class="btn btn-outline-secondary mr-2"
    >Simple Caching</a
  >
  <a
    routerLink="simple-caching-demo"
    routerLinkActive="active"
    class="btn btn-outline-danger mr-2"
    >Simple Caching Demos</a
  >
</header>

<router-outlet></router-outlet>
