.innerContainer {
  padding: 1%;
}
#first {
  width: 50%;
  height: 405px;
  float: left;
  background-color: lightblue;
  color: white;
}
#second {
  width: 50%;
  float: right;
  background-color: green;
  color: white;
}
