<ul class="list-group">
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let contact of data; let idx = index"
  >
    <div class="text-xl">
      <a class="mr-2" [href]="'tel:' + contact.phone">
        <i class="ti-microphone"> </i> </a
      >{{ contact.name }}
    </div>
    <div class="text-gray-500 text-lg">{{ contact.phone }}</div>
    <button class="btn btn-danger" (click)="deleteContact.emit(contact)">
      <i class="ti-trash"></i>
    </button>
  </li>
</ul>
