<div class="container-fluid">
  <h1>Demos</h1>
  <div class="wrapper">
    <div class="item">
      <a routerLink="ng-challange">Ng Challanges</a>
    </div>
    <div class="item">
      <a routerLink="songs">Songs</a>
    </div>
    <div class="item">
      <a routerLink="stock-inventory"> Stock Inventory </a>
    </div>
    <div class="item">
      <a routerLink="file-size"> File Size </a>
    </div>
    <div class="item">
      <a routerLink="tooltip"> Tooltip </a>
    </div>
    <div class="item">
      <a routerLink="credit-card"> Credit Card </a>
    </div>
    <div class="item">
      <a routerLink="content-projection"> Content Projection </a>
    </div>
    <div class="item">
      <a routerLink="dynamic-template"> Dynamic Template </a>
    </div>
  </div>
</div>
