<header>
  <h1>Tree Demo</h1>
</header>
<div class="container">
  <div class="col">
    <lib-data-source-list
      (editNodeChange)="onNodeEdit($event)"
    ></lib-data-source-list>
  </div>
  <div class="col action">
    <button mat-button mat-raised-button color="primary" (click)="addOne()">
      Add DS
    </button>
    <button mat-button mat-raised-button color="primary" (click)="addMany()">
      Add Many
    </button>
    <button mat-button mat-raised-button color="primary" (click)="upsertOne()">
      Upsert One
    </button>
    <button mat-button mat-raised-button color="primary" (click)="removeOne()">
      Remove One
    </button>
    <button mat-button mat-raised-button color="primary" (click)="removeMany()">
      Remove Many
    </button>
    <button mat-button mat-raised-button color="primary" (click)="updateOne()">
      Update One
    </button>
    <button mat-button mat-raised-button color="primary" (click)="updateMany()">
      Update Many
    </button>
    <button mat-button mat-raised-button color="primary" (click)="getOne()">
      Get One
    </button>
    <button mat-button mat-raised-button color="primary" (click)="patchOne()">
      Patch One
    </button>
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="getFlattenNodes()"
    >
      Get Flatten Nodes
    </button>
  </div>
</div>
