$green: #55efc4;
$blue: #74b9ff;
$black: #2d3436;
$light-grey: #dfe6e9;
$orange: #ff7675;
$yellow: #ffeaa7;
$red: #d63031;
$fdate: #fab1a0;
$pink: #e84393;
$purple: #6c5ce7;

$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;
