<app-nav></app-nav>
<div class="container-fluid app-wrapper">
  <header class="d-flex justify-content-between">
    <h1>
      Post List <span *ngIf="selectedLang">{{ selectedLang }}</span>
    </h1>
  </header>
  <small class="my-3 d-block"
    >Server side multilingual fetch ( look for Header 'Accept-Language' )</small
  >
  <table class="table table-bordered table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Id</th>
        <th>User ID</th>
        <th>
          {{ 'TITLE' | translate: { value1: 'Mr' } }}
          <br />
          (<small>translate with param</small>)
        </th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts$ | async">
        <td>{{ post.id }}</td>
        <td>{{ post.userId }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>
          <button class="btn btn-primary" (click)="buy()">
            {{ 'BUY' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
