<app-nav></app-nav>
<div class="container-fluid app-wrapper">
  <header class="d-flex justify-content-between">
    <h1>Post List</h1>
    <a routerLink="add" class="btn btn-primary align-self-center">
      <i class="ti-plus"></i>
    </a>
  </header>
  <table class="table table-bordered table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Id</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts$ | async">
        <td>{{ post.id }}</td>
        <td>{{ post.userId }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
  </table>
</div>
