<header class="m-2 d-flex justify-content-center">
  <a
    routerLink="users-store"
    routerLinkActive="active"
    class="btn btn-outline-info mr-2"
    >Users Store</a
  >
  <a
    routerLink="users-entity"
    routerLinkActive="active"
    class="btn btn-outline-warning mr-2"
    >Users Entity</a
  >
  <a
    routerLink="users-data"
    routerLinkActive="active"
    class="btn btn-outline-success mr-2"
    >Users Data</a
  >
  <a
    routerLink="users-ws"
    routerLinkActive="active"
    class="btn btn-outline-danger mr-2"
    >Users WS</a
  >
  <a
    routerLink="users-service"
    routerLinkActive="active"
    class="btn btn-outline-primary"
    >Users Service</a
  >
</header>

<router-outlet></router-outlet>
