<div class="container">
  <div class="card card-body">
    <pre>
<code>
---------------------------------------
// current lazyi18ndemo module en.json
"NAME": "hemant lazy 3",
"AGE": 30,
"LAZY3": "Lazy 3 ( from lazy 3 module )"
---------------------------------------
</code>
    </pre>
    <h3>Parent:</h3>
    <p>{{ 'CONGRATULATIONS' | translate }} ( should get from app module )</p>

    <h3>Lazy:</h3>
    <p>NAME: {{ 'NAME' | translate }}</p>
    <p>AGE: {{ 'AGE' | translate }}</p>
    <p>AGE: {{ 'LAZY3' | translate }}</p>
  </div>
</div>
