<div class="dashboard">
  <app-card
    [iconClasses]="'ti-star'"
    [title]="'Progress Bar'"
    [subTitle]="'Components'"
  >
    <app-progress-bar body [value]="progressValue"></app-progress-bar>

    <button footer (click)="progressValue = 75">Update</button>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Paging'"
    [subTitle]="'Components'"
  >
    <app-paging body [totalItems]="200"> </app-paging>
  </app-card>

  <app-card
    [iconClasses]="'ti-list'"
    [title]="'Simple Table'"
    [subTitle]="'Components'"
  >
    <app-simple-table body></app-simple-table>
  </app-card>

  <app-card
    [iconClasses]="'ti-dashboard'"
    [title]="'Counter'"
    [subTitle]="'Components'"
  >
    <app-counter body></app-counter>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Search List'"
    [subTitle]="'Components'"
  >
    <app-search-list
      body
      [items]="['United States', 'Mexico', 'United Arab Emirates']"
    ></app-search-list>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Debounce Search'"
    [subTitle]="'Components'"
  >
    <app-debounce-search
      body
      (searchUpdate)="debounceExampleMethod($event)"
    ></app-debounce-search>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Loader'"
    [subTitle]="'Components'"
  >
    <app-loader body [isLoading]="false" [loaderType]="loaderType"></app-loader>
  </app-card>

  <app-card
    [iconClasses]="'ti-palette'"
    [title]="'Twitter Post'"
    [subTitle]="'Components'"
  >
    <app-twitter-post body></app-twitter-post>
  </app-card>

  <app-card
    [iconClasses]="'ti-linkedin'"
    [title]="'LinkedIn Post'"
    [subTitle]="'Components'"
  >
    <app-linkedin-post body></app-linkedin-post>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Modal'"
    [subTitle]="'Components'"
  >
    <div body>
      <app-modal [title]="'Modal Example'" #modal>
        <p>Some Content</p>
      </app-modal>
    </div>

    <div footer>
      <button (click)="modal.open()">Call Modal</button>
    </div>
  </app-card>

  <app-card
    [iconClasses]="'ti-list'"
    [title]="'Quote'"
    [subTitle]="'Components'"
  >
    <app-quote
      body
      [quote]="'Get Good. Get Great. Get Better.'"
      [author]="'Hemant'"
      [occupation]="'Software Engineer, UI Star'"
    >
    </app-quote>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Toggle'"
    [subTitle]="'Components'"
  >
    <app-toggle
      [isOn]="toggleValue"
      (toggleChange)="onToggle($event)"
      body
    ></app-toggle>
  </app-card>
</div>
