<div class="dashboard">
  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Loader'"
    [subTitle]="'Components'"
  >
    <app-loader body [isLoading]="false" [loaderType]="loaderType"></app-loader>
  </app-card>

  <app-card
    [iconClasses]="'ti-palette'"
    [title]="'Twitter Post'"
    [subTitle]="'Components'"
    class="mt-3"
  >
    <app-twitter-post body></app-twitter-post>
  </app-card>

  <app-card
    [iconClasses]="'ti-linkedin'"
    [title]="'LinkedIn Post'"
    [subTitle]="'Components'"
  >
    <app-linkedin-post body></app-linkedin-post>
  </app-card>

  <app-card
    [iconClasses]="'ti-bag'"
    [title]="'Modal'"
    [subTitle]="'Components'"
  >
    <div body>
      <app-modal [title]="'Modal Example'" #modal>
        <p>Some Content</p>
      </app-modal>
    </div>

    <div footer>
      <button (click)="modal.open()">Call Modal</button>
    </div>
  </app-card>
</div>
