<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="i18nhome" class="nav-link">Go to Lazy loaded Home</a>
      </li>
    </ul>
    <div class="d-lg-block d-none dropdown" [class.show]="show">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        (click)="$event.preventDefault(); show = !show"
      >
        <span
          class="selected-locale flag-icon flag-icon-{{ selectedLocale }}"
        ></span>
        Language</a
      >
      <div class="dropdown-menu" [class.show]="show">
        <a class="dropdown-item" (click)="changeLocale($event, 'en')" href="#"
          ><span class="flag-icon flag-icon-en"></span> English</a
        >
        <a class="dropdown-item" href="#" (click)="changeLocale($event, 'de')"
          ><span class="flag-icon flag-icon-de"></span> Deutsch</a
        >
        <a class="dropdown-item" href="#" (click)="changeLocale($event, 'ar')"
          ><span class="flag-icon flag-icon-ar"></span> Arbian</a
        >
      </div>
    </div>
  </div>
</nav>
