<div class="container">
  <h1 class="text-center">Dashboard</h1>

  <h2>Apps</h2>
  <div class="dashboard-cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a href="https://hs2504785.github.io/ngdemos/demoapp/" target="_blank"
            >Demo App</a
          >
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a href="https://hs2504785.github.io/ngdemos/i18napp/" target="_blank"
            >I18N App</a
          >
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a href="https://hs2504785.github.io/ngdemos/mailapp/" target="_blank"
            >Mail App</a
          >
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a href="https://hs2504785.github.io/ngdemos/fitness/" target="_blank"
            >Fitness App</a
          >
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <h2 class="mt-5">Features</h2>

  <div class="dashboard-cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/guitardemo">Guitardemo</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/lazy-components">Lazy Components</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/chat">Chat Demo</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/search-sort-paginate">Search Sort Paginate</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/change-detection">Change Detection</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/worker">Worker</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/ebook">EBook</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/storedemo">Store Demo</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/github-repo">Github Repo Demo</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/eshop">eShop</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/blogdemo">Blog Demo</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/crud">CRUD</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a href="https://hs2504785.github.io/rxdb-demo/home" target="_blank"
            >Rxdb Demo</a
          >
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/todos">Todos (NgRx)</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/tree">Tree</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/virtual-scroll">Virtual Scroll</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/intersection-observer">Intersection Observer</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/performance">Performance</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/treegrid">Expandable Table</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/demos">Demos</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/table">Table</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <h3 class="mt-5">Others</h3>
  <div class="dashboard-cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a
            href="https://hs2504785.github.io/ngdemos/lighthouse-report.html"
            target="_blank"
            >Lighthouse Report</a
          >
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
