<div class="container-fluid">
  <header class="d-flex justify-content-between">
    <h1>Scroll down to render more images</h1>
  </header>
  <ng-container
    *ngFor="let photo of photos$ | async; index as i; trackBy: trackByIndex"
  >
    <div
      class="d-flex p-4 mb-2 overflow-hidden shadow-sm image-item"
      appIntersectionObserver
      [intersectionDebounce]="0"
      (visibilityChange)="onVisibilityChanged(photo.id, $event)"
      [ngSwitch]="visibilityStatus[photo.id]"
    >
      <ng-container *ngSwitchCase="intersectionStatus.Visible">
        <div class="flex-shrink-0 me-2">
          <img [src]="photo.thumbnailUrl" alt="photo.title" />
        </div>
        <div class="flex-grow-1 ms-2">
          <div>
            <strong>{{ photo.title }}</strong>
            <br />
            <small
              ><a [href]="photo.url" target="_blank">{{ photo.url }}</a></small
            >
          </div>
          <div>
            <button class="btn btn-primary me-2">
              <i class="ti-pencil"></i>
            </button>
            <button class="btn btn-danger">
              <i class="ti-trash"></i>
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="intersectionStatus.Pending">
        <ng-container [ngTemplateOutlet]="loading"></ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
  <svg
    width="120"
    height="30"
    viewBox="0 0 120 30"
    xmlns="http://www.w3.org/2000/svg"
    fill="#2196F3"
  >
    <circle cx="15" cy="15" r="15">
      <animate
        attributeName="r"
        from="15"
        to="15"
        begin="0s"
        dur="0.8s"
        values="15;9;15"
        calcMode="linear"
        repeatCount="indefinite"
      />
      <animate
        attributeName="fill-opacity"
        from="1"
        to="1"
        begin="0s"
        dur="0.8s"
        values="1;.5;1"
        calcMode="linear"
        repeatCount="indefinite"
      />
    </circle>
    <circle cx="60" cy="15" r="9" fill-opacity="0.3">
      <animate
        attributeName="r"
        from="9"
        to="9"
        begin="0s"
        dur="0.8s"
        values="9;15;9"
        calcMode="linear"
        repeatCount="indefinite"
      />
      <animate
        attributeName="fill-opacity"
        from="0.5"
        to="0.5"
        begin="0s"
        dur="0.8s"
        values=".5;1;.5"
        calcMode="linear"
        repeatCount="indefinite"
      />
    </circle>
    <circle cx="105" cy="15" r="15">
      <animate
        attributeName="r"
        from="15"
        to="15"
        begin="0s"
        dur="0.8s"
        values="15;9;15"
        calcMode="linear"
        repeatCount="indefinite"
      />
      <animate
        attributeName="fill-opacity"
        from="1"
        to="1"
        begin="0s"
        dur="0.8s"
        values="1;.5;1"
        calcMode="linear"
        repeatCount="indefinite"
      />
    </circle>
  </svg>
</ng-template>
