<header class="m-2 d-flex justify-content-center">
  <a
    routerLink="workersample"
    routerLinkActive="active"
    class="btn btn-outline-success mr-2"
    >Sample</a
  >
  <a
    routerLink="workerdemo"
    routerLinkActive="active"
    class="btn btn-outline-warning mr-2"
    >Demo</a
  >
  <a
    routerLink="long-running"
    routerLinkActive="active"
    class="btn btn-outline-primary mr-2"
    >Long Running</a
  >
  <a
    routerLink="render-circle"
    routerLinkActive="active"
    class="btn btn-outline-info"
    >Render Circle</a
  >
</header>

<router-outlet></router-outlet>
