<nav class="navbar navbar-expand-sm bg-primary">
  <div class="text-white">
    <span class="ti-headphone"></span>
    <span class="text-2xl"> Contacts App </span>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto d-flex">
      <button class="flex items-center mr-2 p-2" (click)="addContact.emit()">
        <span class="ti-plus"></span>
      </button>
      <button *ngIf="!search" class="btn btn-primary" (click)="showSearch()">
        <span class="ti-search"></span>
      </button>

      <form *ngIf="search" class="form-inline">
        <input
          class="form-control"
          autoFocus="true"
          (keydown)="searchContacts.emit($event.target.value)"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          (click)="hideSearch()"
        >
          <i class="ti-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
