<button class="btn btn-primary" (click)="increment()">Increment</button>
<div class="d-flex gap-2">
  <strong>Count:</strong> <span>{{ count() }}</span>
</div>
<div class="d-flex gap-2">
  <strong>Double:</strong> <span>{{ double() }}</span>
</div>
<div class="d-flex gap-2">
  <strong>Triple:</strong> <span>{{ triple() }}</span>
</div>
<div class="d-flex gap-2">
  <strong>Combined:</strong> <span>{{ combined() }}</span>
</div>
<div class="d-flex gap-2">
  <strong>Over9000:</strong> <span>{{ over9000() }}</span>
</div>
<div class="d-flex gap-2">
  <strong>Message:</strong> <span>{{ message() }}</span>
</div>
