<mat-sidenav-container
  class="app-sidenav-container"
  [class.dark-theme]="isDarkTheme"
  [dir]="dir"
>
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary"> AG Grid Demo </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="ag-simple"> Simple </a>
      </mat-list-item>
      <mat-list-item>
        <a matLine [routerLink]="['ag-sorting']"> AG Sort </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar
      [pageTitle]="pageTitle"
      (toggleTheme)="toggleTheme()"
      (toggleSidenav)="sidenav.toggle()"
      (toggleDir)="toggleDir()"
    >
    </app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
