<header class="m-2 d-flex justify-content-center">
  <h2>Http Caching Demo with interceptor</h2>
</header>

<div class="container-fluid">
  <form class="form-inline">
    <div class="form-group mr-4">
      <label for="country" class="mr-3">Country</label>
      <select
        class="form-control"
        name="country"
        id="country"
        #country
        (change)="handleCountryChange(country.value)"
      >
        <option value="">Select Country</option>
        <option *ngFor="let country of countries" [value]="country.isoCode">
          {{ country.name }}
        </option>
      </select>
    </div>
    <div class="form-group mr-4">
      <label for="state" class="mr-3">State</label>
      <select
        class="form-control"
        name="state"
        id="state"
        #state
        (change)="handleStateChange(country.value, state.value)"
      >
        <option value="">Select State</option>
        <option *ngFor="let state of states" [value]="state.isoCode">
          {{ state.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="city" class="mr-3">City</label>
      <select class="form-control" name="city" id="city">
        <option value="">Select City</option>
        <option *ngFor="let city of cities" [value]="city">
          {{ city.name }}
        </option>
      </select>
    </div>
  </form>
</div>
